body
{
 background-color: papayawhip;
}
h1
{
  color: PaleVioletRed;
}
h3
{
 color : PaleVioletRed ;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: grey ;
  border-width: 5px;
  height: 0 px;
  width: 5% ;
}
img
{
  height: 50 px;
}
