body
{
 background-color: papayawhip;
}
h1
{
  color: PaleVioletRed;
}
h3
{
 color : PaleVioletRed ;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: grey ;
  border-width: 5px;
  height: 0 px;
  width: 5% ;
}
img : hover    /* used to highlight the image when the cursor goes on that image */
{
  height: 50 px;
background-color : gold;
}

/*****************CLASS SELECTORS**************/
.upsc
{
  background-color: black;
}

.engineer
{
  background-color:grey;
}

.circular
{
  border-radius: 100%;
}
/*****************ID SELECTORS**************/
/
#heading
{
  color: PaleVioletRed;
}

